.order{
    padding: 40px;
    margin: 20px 0;
    background-color: lightgray;
    position: relative;
}

.order_id{
    position: absolute;
    top: 40px;
    right: 20px;
}

.order_total{
    font-weight: 500;
    text-align: right;
}

@media screen and (max-width: 650px) {
    .checkoutProduct__image {
        object-fit: contain;
        width: 90px;
        height: 180px;
    }

    .checkoutProduct__title {
        font-size: 11px;
        font-weight: 800;
    }

    h2{
        font-size: 13px;
    }

    .order {
        padding: 3px;
        margin: 20px 0;
        background-color: lightgray;
        position: relative;
        border-radius: 3px;
    }
}